# IntraDay Decision Tree

Attempt similar strategy to previous Decision Tree technique with technical indicators except using intraday data.

Data source : http://www.histdata.com/download-free-forex-historical-data/?/metatrader/1-minute-bar-quotes/EURUSD

## Prerequisites : 
- Download a couple months worth of intraday data
- Copy the \*.csv files into /data/histdata folder

In [83]:
from os import listdir
from ta import *
import pandas, numpy as np
import matplotlib.pyplot as plt
from sklearn.datasets import load_iris
from sklearn.model_selection import cross_val_score
from sklearn.tree import DecisionTreeClassifier, DecisionTreeRegressor

In [2]:
%matplotlib inline

In [3]:
from pylab import rcParams
rcParams['figure.figsize'] = 15, 10

In [11]:
data_dir = 'data/histdata/'
data_files = list(filter(lambda a : ('.csv' in a), listdir(data_dir)))
data_files

['DAT_MT_EURUSD_M1_201809.csv',
 'DAT_MT_EURUSD_M1_201808.csv',
 'DAT_MT_EURUSD_M1_201805.csv',
 'DAT_MT_EURUSD_M1_201804.csv',
 'DAT_MT_EURUSD_M1_201806.csv',
 'DAT_MT_EURUSD_M1_201807.csv']

In [84]:
df = pandas.read_csv(data_dir + 'DAT_MT_EURUSD_M1_201809.csv', names=['date','time','open', 'max', 'min', 'close', 'vol'])
df.describe()

               open           max           min         close      vol
count  14348.000000  14348.000000  14348.000000  14348.000000  14348.0
mean       1.161197      1.161272      1.161121      1.161197      0.0
std        0.003702      0.003702      0.003704      0.003702      0.0
min        1.152790      1.152940      1.152600      1.152740      0.0
25%        1.158650      1.158710      1.158580      1.158640      0.0
50%        1.161040      1.161150      1.160950      1.161040      0.0
75%        1.162930      1.163020      1.162860      1.162930      0.0
max        1.172130      1.172150      1.171950      1.172120      0.0

In [116]:
df['datetime'] = df['date'] + ' - ' + df['time']

In [119]:
df

,date,time,open,max,min,close,vol,datetime
0,2018.09.02,17:00,1.15950,1.15951,1.15950,1.15951,0,2018.09.02 - 17:00
1,2018.09.02,17:01,1.15951,1.15951,1.15951,1.15951,0,2018.09.02 - 17:01
2,2018.09.02,17:02,1.15950,1.15950,1.15950,1.15950,0,2018.09.02 - 17:02
3,2018.09.02,17:05,1.15951,1.15951,1.15951,1.15951,0,2018.09.02 - 17:05
4,2018.09.02,17:06,1.15950,1.15950,1.15950,1.15950,0,2018.09.02 - 17:06
5,2018.09.02,17:08,1.15950,1.15952,1.15950,1.15952,0,2018.09.02 - 17:08
6,2018.09.02,17:09,1.15991,1.15991,1.15950,1.15952,0,2018.09.02 - 17:09
7,2018.09.02,17:10,1.15950,1.15952,1.15950,1.15950,0,2018.09.02 - 17:10
8,2018.09.02,17:18,1.15927,1.15935,1.15923,1.15935,0,2018.09.02 - 17:18
9,2018.09.02,17:19,1.15935,1.15938,1.15935,1.15938,0,2018.09.02 - 17:19
10,2018.09.02,17:20,1.15939,1.15950,1.15939,1.15950,0,2018.09.02 - 17:20
11,2018.09.02,17:22,1.15940,1.15940,1.15940,1.15940,0,2018.09.02 - 17:22
12,2018.09.02,17:28,1.15950,1.15950,1.15941,1.15942,0,2018.09.02 - 17:28
13,2018.09.02,17:29,1.15940,1.15946,1.15940,1.15942,0,2018.09.02 - 17:29
14,2018.09.02,17:30,1.15940,1.15940,1.15940,1.15940,0,2018.09.02 - 17:30
15,2018.09.02,17:31,1.15940,1.15942,1.15940,1.15942,0,2018.09.02 - 17:31
16,2018.09.02,17:32,1.15940,1.15940,1.15940,1.15940,0,2018.09.02 - 17:32
17,2018.09.02,17:34,1.15947,1.15950,1.15947,1.15950,0,2018.09.02 - 17:34
18,2018.09.02,17:38,1.15975,1.15975,1.15950,1.15950,0,2018.09.02 - 17:38
19,2018.09.02,17:39,1.15950,1.15950,1.15950,1.15950,0,2018.09.02 - 17:39
20,2018.09.02,17:40,1.15950,1.15961,1.15950,1.15958,0,2018.09.02 - 17:40
21,2018.09.02,17:41,1.15960,1.15963,1.15956,1.15963,0,2018.09.02 - 17:41
22,2018.09.02,17:42,1.15962,1.15963,1.15960,1.15960,0,2018.09.02 - 17:42
23,2018.09.02,17:43,1.15958,1.15962,1.15934,1.15934,0,2018.09.02 - 17:43
24,2018.09.02,17:44,1.15933,1.15933,1.15933,1.15933,0,2018.09.02 - 17:44
25,2018.09.02,17:45,1.15934,1.15934,1.15932,1.15933,0,2018.09.02 - 17:45
26,2018.09.02,17:46,1.15934,1.15934,1.15927,1.15928,0,2018.09.02 - 17:46
27,2018.09.02,17:47,1.15939,1.15939,1.15939,1.15939,0,2018.09.02 - 17:47
28,2018.09.02,17:48,1.15923,1.15929,1.15923,1.15929,0,2018.09.02 - 17:48
29,2018.09.02,17:49,1.15930,1.15942,1.15925,1.15942,0,2018.09.02 - 17:49
...,...,...,...,...,...,...,...,...
14318,2018.09.14,16:28,1.16269,1.16269,1.16262,1.16263,0,2018.09.14 - 16:28
14319,2018.09.14,16:29,1.16262,1.16269,1.16258,1.16260,0,2018.09.14 - 16:29
14320,2018.09.14,16:30,1.16260,1.16260,1.16252,1.16253,0,2018.09.14 - 16:30
14321,2018.09.14,16:31,1.16254,1.16255,1.16252,1.16253,0,2018.09.14 - 16:31
14322,2018.09.14,16:32,1.16254,1.16264,1.16254,1.16264,0,2018.09.14 - 16:32
14323,2018.09.14,16:33,1.16264,1.16264,1.16263,1.16263,0,2018.09.14 - 16:33
14324,2018.09.14,16:34,1.16263,1.16263,1.16254,1.16254,0,2018.09.14 - 16:34
14325,2018.09.14,16:36,1.16254,1.16254,1.16249,1.16249,0,2018.09.14 - 16:36
14326,2018.09.14,16:37,1.16249,1.16249,1.16241,1.16241,0,2018.09.14 - 16:37
14327,2018.09.14,16:38,1.16240,1.16240,1.16232,1.16232,0,2018.09.14 - 16:38
14328,2018.09.14,16:39,1.16231,1.16233,1.16227,1.16233,0,2018.09.14 - 16:39
14329,2018.09.14,16:40,1.16233,1.16233,1.16232,1.16232,0,2018.09.14 - 16:40
14330,2018.09.14,16:41,1.16233,1.16241,1.16230,1.16238,0,2018.09.14 - 16:41
14331,2018.09.14,16:42,1.16238,1.16253,1.16238,1.16243,0,2018.09.14 - 16:42
14332,2018.09.14,16:43,1.16244,1.16244,1.16243,1.16244,0,2018.09.14 - 16:43
14333,2018.09.14,16:44,1.16243,1.16243,1.16238,1.16238,0,2018.09.14 - 16:44
14334,2018.09.14,16:45,1.16242,1.16249,1.16239,1.16243,0,2018.09.14 - 16:45
14335,2018.09.14,16:46,1.16242,1.16242,1.16236,1.16238,0,2018.09.14 - 16:46
14336,2018.09.14,16:47,1.16241,1.16245,1.16241,1.16242,0,2018.09.14 - 16:47
14337,2018.09.14,16:48,1.16242,1.16243,1.16234,1.16235,0,2018.09.14 - 16:48
14338,2018.09.14,16:49,1.16234,1.16238,1.16224,1.16233,0,2018.09.14 - 16:49
14339,2018.09.14,16:50,1.16232,1.16232,1.16212,1.16212,0,2018.09.14 - 16:50
14340,2018.09.14,16:51,1.16213,1.16217,1.16207,1.16213,0,2018.09.14 - 16:51
14341,2018.09.14,16:52,1.16214,1.16214,1.16209,1.16210,0,2018.09.14 - 16:52
14342,2018.09.14,16:53,1.16209,1.16215,1.16206,1.16213,0,2018.09.14 - 16:53
14343,2018.09.14,16:54,1.16212,1.16213,1.16208,1.16213,0,2018.09.14 - 16:54
14344,2018.09.14,16:55,1.16213,1.16223,1.16208,1.16214,0,2018.09.14 - 16:55
14345,2018.09.14,16:56,1.16212,1.16221,1.16211,1.16216,0,2018.09.14 - 16:56
14346,2018.09.14,16:57,1.16215,1.16215,1.16209,1.16213,0,2018.09.14 - 16:57
14347,2018.09.14,16:58,1.16213,1.16217,1.16209,1.16213,0,2018.09.14 - 16:58

In [147]:
def readDAT(filename):
    dateparse = lambda x: pd.datetime.strptime(x, '%Y.%m.%d')
#     df = pd.read_csv(infile, parse_dates=['datetime'], date_parser=dateparse)
    
    df = pandas.read_csv(filename, names=['date','time','open', 'max', 'min', 'close', 'vol'])
    df['datetime'] = df['date'] + ' - ' + df['time']
    df['datetime'] = pandas.to_datetime(df['datetime'], format='%Y.%m.%d - %H:%M')
    return df
    
def readAllDatForCurrency(data_dir, currencyCode):
    dataFileNames = list(filter(lambda a : (currencyCode in a), listdir(data_dir)))
    dfs = [readDAT(data_dir + name) for name in dataFileNames]
    allDf = pd.concat(dfs)
    allDf = allDf.sort_values(by=['datetime'], ascending=True).reset_index(drop=True)
    return allDf
    
def runCalculators(series, calculators=[]):
    df_obj = {}
    for ind, fn in enumerate(calculators):
        df_obj[fn.__name__] = fn(series)
    return pd.DataFrame(df_obj)


def splitData(df, split):
    train = df.iloc[:int(len(df)*split)]
    test = df.iloc[int(len(df)*split):]
    
    return train, test


def trainDecisionTree(inputDf, outputDf):
    clf = DecisionTreeRegressor(random_state=0)
    clf.fit(inputDf, outputDf)
    return clf


def makeTrades(predictions):
#     ceil = np.percentile(predictions, 75)
#     floor = np.percentile(predictions, 50)
    thresh = np.percentile(predictions, 60)
    
    trade_pos = np.where(predictions > thresh)[0]
    return trade_pos

def getCompoundGains(series, trades):
    gains = others.daily_return(series).shift(-1)[trades]
    gains = np.add(np.divide(gains, 100), 1.0)
    return np.product(gains)

In [148]:
allDf = readAllDatForCurrency(data_dir, 'EURUSD')
# allDf.sort_values(by=['datetime'], ascending=True).reset_index(drop=True)
allDf

,date,time,open,max,min,close,vol,datetime
0,2018.04.01,17:00,1.23186,1.23207,1.23186,1.23207,0,2018-04-01 17:00:00
1,2018.04.01,17:02,1.23209,1.23209,1.23207,1.23207,0,2018-04-01 17:02:00
2,2018.04.01,17:03,1.23212,1.23212,1.23212,1.23212,0,2018-04-01 17:03:00
3,2018.04.01,17:05,1.23207,1.23207,1.23202,1.23203,0,2018-04-01 17:05:00
4,2018.04.01,17:06,1.23205,1.23205,1.23205,1.23205,0,2018-04-01 17:06:00
5,2018.04.01,17:07,1.23206,1.23206,1.23200,1.23200,0,2018-04-01 17:07:00
6,2018.04.01,17:08,1.23198,1.23207,1.23198,1.23207,0,2018-04-01 17:08:00
7,2018.04.01,17:09,1.23208,1.23210,1.23208,1.23210,0,2018-04-01 17:09:00
8,2018.04.01,17:10,1.23209,1.23210,1.23209,1.23210,0,2018-04-01 17:10:00
9,2018.04.01,17:11,1.23205,1.23205,1.23175,1.23175,0,2018-04-01 17:11:00
10,2018.04.01,17:12,1.23174,1.23174,1.23169,1.23169,0,2018-04-01 17:12:00
11,2018.04.01,17:13,1.23167,1.23185,1.23165,1.23185,0,2018-04-01 17:13:00
12,2018.04.01,17:14,1.23186,1.23189,1.23185,1.23189,0,2018-04-01 17:14:00
13,2018.04.01,17:15,1.23191,1.23193,1.23191,1.23193,0,2018-04-01 17:15:00
14,2018.04.01,17:17,1.23192,1.23193,1.23192,1.23193,0,2018-04-01 17:17:00
15,2018.04.01,17:18,1.23195,1.23202,1.23195,1.23202,0,2018-04-01 17:18:00
16,2018.04.01,17:19,1.23204,1.23211,1.23203,1.23211,0,2018-04-01 17:19:00
17,2018.04.01,17:21,1.23215,1.23215,1.23211,1.23213,0,2018-04-01 17:21:00
18,2018.04.01,17:22,1.23214,1.23214,1.23214,1.23214,0,2018-04-01 17:22:00
19,2018.04.01,17:30,1.23217,1.23219,1.23217,1.23219,0,2018-04-01 17:30:00
20,2018.04.01,17:31,1.23215,1.23218,1.23213,1.23218,0,2018-04-01 17:31:00
21,2018.04.01,17:32,1.23219,1.23219,1.23219,1.23219,0,2018-04-01 17:32:00
22,2018.04.01,17:33,1.23220,1.23220,1.23220,1.23220,0,2018-04-01 17:33:00
23,2018.04.01,17:34,1.23221,1.23222,1.23221,1.23222,0,2018-04-01 17:34:00
24,2018.04.01,17:42,1.23221,1.23221,1.23221,1.23221,0,2018-04-01 17:42:00
25,2018.04.01,17:52,1.23223,1.23224,1.23223,1.23224,0,2018-04-01 17:52:00
26,2018.04.01,17:57,1.23224,1.23224,1.23224,1.23224,0,2018-04-01 17:57:00
27,2018.04.01,17:58,1.23219,1.23219,1.23208,1.23208,0,2018-04-01 17:58:00
28,2018.04.01,17:59,1.23208,1.23208,1.23176,1.23195,0,2018-04-01 17:59:00
29,2018.04.01,18:00,1.23200,1.23215,1.23159,1.23193,0,2018-04-01 18:00:00
...,...,...,...,...,...,...,...,...
172217,2018.09.14,16:28,1.16269,1.16269,1.16262,1.16263,0,2018-09-14 16:28:00
172218,2018.09.14,16:29,1.16262,1.16269,1.16258,1.16260,0,2018-09-14 16:29:00
172219,2018.09.14,16:30,1.16260,1.16260,1.16252,1.16253,0,2018-09-14 16:30:00
172220,2018.09.14,16:31,1.16254,1.16255,1.16252,1.16253,0,2018-09-14 16:31:00
172221,2018.09.14,16:32,1.16254,1.16264,1.16254,1.16264,0,2018-09-14 16:32:00
172222,2018.09.14,16:33,1.16264,1.16264,1.16263,1.16263,0,2018-09-14 16:33:00
172223,2018.09.14,16:34,1.16263,1.16263,1.16254,1.16254,0,2018-09-14 16:34:00
172224,2018.09.14,16:36,1.16254,1.16254,1.16249,1.16249,0,2018-09-14 16:36:00
172225,2018.09.14,16:37,1.16249,1.16249,1.16241,1.16241,0,2018-09-14 16:37:00
172226,2018.09.14,16:38,1.16240,1.16240,1.16232,1.16232,0,2018-09-14 16:38:00
172227,2018.09.14,16:39,1.16231,1.16233,1.16227,1.16233,0,2018-09-14 16:39:00
172228,2018.09.14,16:40,1.16233,1.16233,1.16232,1.16232,0,2018-09-14 16:40:00
172229,2018.09.14,16:41,1.16233,1.16241,1.16230,1.16238,0,2018-09-14 16:41:00
172230,2018.09.14,16:42,1.16238,1.16253,1.16238,1.16243,0,2018-09-14 16:42:00
172231,2018.09.14,16:43,1.16244,1.16244,1.16243,1.16244,0,2018-09-14 16:43:00
172232,2018.09.14,16:44,1.16243,1.16243,1.16238,1.16238,0,2018-09-14 16:44:00
172233,2018.09.14,16:45,1.16242,1.16249,1.16239,1.16243,0,2018-09-14 16:45:00
172234,2018.09.14,16:46,1.16242,1.16242,1.16236,1.16238,0,2018-09-14 16:46:00
172235,2018.09.14,16:47,1.16241,1.16245,1.16241,1.16242,0,2018-09-14 16:47:00
172236,2018.09.14,16:48,1.16242,1.16243,1.16234,1.16235,0,2018-09-14 16:48:00
172237,2018.09.14,16:49,1.16234,1.16238,1.16224,1.16233,0,2018-09-14 16:49:00
172238,2018.09.14,16:50,1.16232,1.16232,1.16212,1.16212,0,2018-09-14 16:50:00
172239,2018.09.14,16:51,1.16213,1.16217,1.16207,1.16213,0,2018-09-14 16:51:00
172240,2018.09.14,16:52,1.16214,1.16214,1.16209,1.16210,0,2018-09-14 16:52:00
172241,2018.09.14,16:53,1.16209,1.16215,1.16206,1.16213,0,2018-09-14 16:53:00
172242,2018.09.14,16:54,1.16212,1.16213,1.16208,1.16213,0,2018-09-14 16:54:00
172243,2018.09.14,16:55,1.16213,1.16223,1.16208,1.16214,0,2018-09-14 16:55:00
172244,2018.09.14,16:56,1.16212,1.16221,1.16211,1.16216,0,2018-09-14 16:56:00
172245,2018.09.14,16:57,1.16215,1.16215,1.16209,1.16213,0,2018-09-14 16:57:00
172246,2018.09.14,16:58,1.16213,1.16217,1.16209,1.16213,0,2018-09-14 16:58:00

In [149]:
allDf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 172247 entries, 0 to 172246
Data columns (total 8 columns):
date        172247 non-null object
time        172247 non-null object
open        172247 non-null float64
max         172247 non-null float64
min         172247 non-null float64
close       172247 non-null float64
vol         172247 non-null int64
datetime    172247 non-null datetime64[ns]
dtypes: datetime64[ns](1), float64(4), int64(1), object(2)
memory usage: 10.5+ MB

In [153]:
def runDTBacktest(df, filename=None):

    input_calculators=[trend.dpo, trend.macd, trend.macd_signal, trend.macd_diff, momentum.tsi, momentum.rsi, trend.trix, volatility.bollinger_hband, volatility.bollinger_lband]
    output_calculators=[lambda s : others.daily_return(s).shift(-1)]
    
    df_inds = runCalculators(df.close, input_calculators)
    df_outs = runCalculators(df.close, output_calculators)
    df = pd.concat([df, df_inds, df_outs], axis=1, join_axes=[df.index])
    df = df.dropna()
    df_inds = df[df_inds.columns]
    df_outs = df[df_outs.columns]
    
    train_split = 0.9
    train_in, test_in = splitData(df_inds, train_split)
    train_out, test_out = splitData(df_outs, train_split)
    
    decTree = trainDecisionTree(train_in, train_out)
    preds = decTree.predict(test_in)
    
    trades = makeTrades(preds)
    totalGain = getCompoundGains(df.close, trades)
    
    return {
        'filename':filename,
        'gain' : totalGain,
        'df':df,
        'trades':trades,
        'test_df':pd.concat([df, test_in, test_out], axis=1, join_axes=[test_in.index])
    }

# metrics
def getMetrics(backTestResult):
    
    returns = np.add(np.divide(others.daily_return(backTestResult['test_df'].close),100),1)
    
    return {
        'filename' : backTestResult['filename'],
        'gain' : backTestResult['gain'],
        'total_gain' : np.product(returns),
        'beat_market' : backTestResult['gain'] > np.product(returns),
        'start_date' : backTestResult['test_df']['date'].iloc[0],
        'end_date' : backTestResult['test_df']['date'].iloc[-1]
#         'perfect_gain' : np.product(returns[np.where(returns > 1.0)])
    }

In [154]:
results = runDTBacktest(readAllDatForCurrency(data_dir, 'EURUSD'))

/anaconda2/envs/py36/lib/python3.6/site-packages/pandas/core/series.py:842: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  return self.loc[key]

In [155]:
sortedResults = sorted(list(map(getMetrics, [results])), key=lambda x: x['gain'])
sortedResults.reverse()
sortedResults

[{'filename': None,
  'gain': 1.0037269355747471,
  'total_gain': 0.9927304722203255,
  'beat_market': True,
  'start_date': '2018.08.29',
  'end_date': '2018.09.14'}]

In [89]:
results['gain']

0.9997162566296541